<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flood detecting systems</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="errorBody">
    <div class="errorPage">
        <p>
            You Have Entered Incorrect Credentials!!!
        </p>
        <div class="Erow">
            <a href="{{url_for('main')}}" class="form-submit">Press Here To Exit The System</a>
        </div>
    </div>
</body>
</html>