<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flood detecting system</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
       
    
    <div class="main">  
    <form action="#" method="POST" class="box">
        <h2><span>LOGIN HERE!</span></h2><br>
        <div class="rows">
            <label for="email" class="form-label">USERNAME:</label>
            <input type="email" name="email" id="email" class="form-input" placeholder="Enter Username Here" required>
            </div> <br>
        <div class="rows">
            <label for="password" class="form-label">PASSWORD:</label>
            <input type="password" name="password" id="password" class="form-input" placeholder="Enter Password Here" required>
        </div> <br>
        <div class="rows">
            <input type="submit"  class="form-submit" name="submit" value="LOGIN">
        </div> <br>
        
      </form>
    </div>
    
</body>
</html>


