<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>floods detecting system</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="body">
        <div class="header">
        <div class="head">
            <h1>Register Here</h1>
        </div>

        <form action="#" method ="POST">
            <div class="box-btn">
            <div class="bolder">
            <label  for="fname">First name :</label><br>
            <input type="text" name="aname" placeholder="Enter your name" required><br>
            </div>

            <div class="bolder">
            <label for="sname">Last name :</label><br>
            <input type="text" name="bname" placeholder="Enter your surname" required><br>
            </div>


            <div class="bolder">
            <label for="gname">Address number :</label><br>
            <input type="text" name="cname" placeholder="Enter your Address number" required><br>
            </div>

            <div class="bolder">
            <label for="vname">Phone number :</label><br>
            <input type="number" name="dname" placeholder="Enter your phone number" required><br>
            </div>

            
            <div class="bolder">
            <label for="ename">Email address :</label><br>
            <input type="email" name="ename" placeholder="Enter your email" required><br>
            </div>

           

            

    
            <button type="submit" class="login">submit</button>
            </div>
        </form>
     </div>
     </div>
</body>
</html>